{% extends "admin/change_form.html" %}
{% load i18n %}

{% block object-tools %}
  <ul class="object-tools">
    {% if change %}{% if not is_popup %}
    <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
    {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
    {% endif %}{% endif %}
    <li>
        <a href="bulk-add/{% if is_popup %}?_popup=1{% endif %}" class="addlink">
          {% blocktrans with opts.verbose_name_plural as name %}Add multiple {{ name }}{% endblocktrans %}
        </a>
    </li>
  </ul>
{% endblock %}
