{% extends "admin/change_form.html" %}
{% load i18n adminmedia admin_modify %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% admin_media_prefix %}codemirror/js/codemirror.js"></script>
{% endblock %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/parking/change_form.css">
{% endblock %}

{% block content %}<div id="content-main">
{% block object-tools %}
  <ul class="object-tools">
    {% if change %}{% if not is_popup %}
    <li>
        <a href="external-resources/{% if is_popup %}?_popup=1{% endif %}">{% trans "External resources" %}</a>
    </li>
    <li>
        <a href="preview/{% if is_popup %}?_popup=1{% endif %}">{% trans "Preview" %}</a>
    </li>
    <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
    {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
    {% endif %}{% endif %}
  </ul>
{% endblock %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
{% if save_on_top %}{% submit_row %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}

{% block after_field_sets %}{% endblock %}

{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}

{% block after_related_objects %}{% endblock %}

{% if add %}
<div class="submit-row" {% if is_popup %}style="overflow: auto;"{% endif %}>
<input type="submit" value="{% trans 'Save and continue' %}" class="default" name="_continue" {{ onclick_attrib }}/>
</div>
{% else %}
{% submit_row %}
{% endif %}

{% if adminform and add %}
   <script type="text/javascript">document.getElementById("{{ adminform.first_field.auto_id }}").focus();</script>
{% endif %}

{% if change %}
<script type="text/javascript">
  var editor = CodeMirror.fromTextArea("id_template", {
    path: "{% admin_media_prefix %}codemirror/js/",
    parserfile: "parsexml.js",
    stylesheet: "{% admin_media_prefix %}css/parking/codemirror-xmlcolors.css",
    content: document.getElementById("id_template").value,
    iframeClass: "template-codemirror",
  });
</script>
{% endif %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}
</div>
</form></div>
{% endblock %}
