/* ext-all.css overrides this, so here we restore it again
 * see: base.css
 */
h1 {
    font-size: 18px;
    margin: 0 0 0.2em;
    padding: 0 6px 0 0;
}

.external-resources .help {
    margin: .5em 0 .2em 0;
}

.x-panel-header {
    display: none;
}

.x-panel-body {
    border-width: 1px;
    border-style: solid;
}